/* Основные стили */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Темы */
body.light-theme {
  background-color: #ffffff;
  color: #333333;
}

body.dark-theme {
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal .close-button {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 20px;
}

#theme-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
